<app-header></app-header>
<div class="container">
    <div class="row">
        <h5 class="fw-light fs-4 py-3">Clientes app</h5>
        <!-- card -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">ClientesComponent</div>
                <div class="card-body">
                    <!-- <app-directiva></app-directiva> -->
                    <h5 class="card-title">Usando Json</h5>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- col-md-12 -->
    </div>
</div>


<app-footer></app-footer>